## Domain

This is an introductory data set considered the "hello world" of data science. It is an ongoing competition on Kaggle allowing students of data science to prepare a model and make a submission to a competition while they are still learning the subject.

## Problem

This is a binary classification problem in which the challenge is to predict whether a passenger survived the sinking of the Titanic given the demographic data of the passengers. Here, the task $T$ is a binary classification and the experience $E$ is the list of passengers and their survival outcome.

## Solution

To solve this problem, we will generate a vector of integers using filtering and masking.

## Data

The following analysis shows:

- there are 891 rows and 10 useful variable columns in the dataset. One of these columns is the target `Survived`. An 11th and 12th column are a unique id for each passenger and the name of each passenger, respectively, and have no predictive power.
- there are four integer value columns:
   - `Survived`
   - `Pclass`
   - `SibSp`
   - `Parch`
- there are two numerical value columns:
   - `Age`
   - `Fare`
- there are five factor columns:
   - `Sex`
   - `Ticket`
   - `Cabin`
   - `Embarked`
- The following are the summary statistics of the data:

   ```
      Survived          Pclass          Sex           Age            SibSp      
    Min.   :0.0000   Min.   :1.000   female:314   Min.   : 0.42   Min.   :0.000  
    1st Qu.:0.0000   1st Qu.:2.000   male  :577   1st Qu.:20.12   1st Qu.:0.000  
    Median :0.0000   Median :3.000                Median :28.00   Median :0.000  
    Mean   :0.3838   Mean   :2.309                Mean   :29.70   Mean   :0.523  
    3rd Qu.:1.0000   3rd Qu.:3.000                3rd Qu.:38.00   3rd Qu.:1.000  
    Max.   :1.0000   Max.   :3.000                Max.   :80.00   Max.   :8.000  
                                                  NA's   :177                    
        Parch             Ticket         Fare                Cabin     Embarked
    Min.   :0.0000   1601    :  7   Min.   :  0.00              :687    :  2   
    1st Qu.:0.0000   347082  :  7   1st Qu.:  7.91   B96 B98    :  4   C:168   
    Median :0.0000   CA. 2343:  7   Median : 14.45   C23 C25 C27:  4   Q: 77   
    Mean   :0.3816   3101295 :  6   Mean   : 32.20   G6         :  4   S:644   
    3rd Qu.:0.0000   347088  :  6   3rd Qu.: 31.00   C22 C26    :  3           
    Max.   :6.0000   CA 2144 :  6   Max.   :512.33   D          :  3           
                     (Other) :852                    (Other)    :186   
   ```

## Benchmark

We will use a naive guess based on the most common class as a benchmark. 61.6% of passengers did not survive. We will guess for our benchmark that there were no survivors.

In [1]:
titanic <- read.table('train.csv', sep=",", header = T)

In [2]:
#library(lattice)
#library(ggplot2)
#library(caret)

In [3]:
#set.seed(10)

In [4]:
#train_index <- createDataPartition(titanic$Survived,p=0.8, list=FALSE)
#training_data <- titanic[train_index,]
#validation_data <- titanic[-train_index,]

In [5]:
#prop.table(table(training_data$Survived))
#prop.table(table(validation_data$Survived))

        0         1
0.6143058 0.3856942

        0         1
0.6235955 0.3764045

## Metrics

As this is an beginning exercise, we will use the accuracy.

In [2]:
verify_length <- function (v1, v2 ){
    if (length(v1) != length(v2)) {
        stop('length of vectors do not match') 
    }
}

accuracy <- function (actual, predicted) {
    verify_length(actual, predicted)
    return(sum(actual == predicted)/length(actual))
}

In [1]:
#training_data <- read.table('train.csv', sep=",", header = T)

In [8]:
#head (training_data, 10)

   PassengerId Survived Pclass
1   1          0        3
2   2          1        1
3   3          1        3
4   4          1        1
5   5          0        3
6   6          0        3
7   7          0        1
8   8          0        3
9   9          1        3
10 10          1        2
   Name                                                Sex    Age SibSp Parch
1  Braund, Mr. Owen Harris                             male   22  1     0
2  Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3  Heikkinen, Miss. Laina                              female 26  0     0
4  Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
5  Allen, Mr. William Henry                            male   35  0     0
6  Moran, Mr. James                                    male   NA  0     0
7  McCarthy, Mr. Timothy J                             male   54  0     0
8  Palsson, Master. Gosta Leonard                      male    2  3     1
9  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)   female 27  0     2
10 Nasser, Mrs. Nicholas (Adele Achem)                 female 14  1     0
   Ticket           Fare    Cabin Embarked
1  A/5 21171         7.2500       S
2  PC 17599         71.2833 C85   C
3  STON/O2. 3101282  7.9250       S
4  113803           53.1000 C123  S
5  373450            8.0500       S
6  330877            8.4583       Q
7  17463            51.8625 E46   S
8  349909           21.0750       S
9  347742           11.1333       S
10 237736           30.0708       C

In [9]:
#training_data_numeric_features <- Filter(is.numeric, titanic)

In [10]:
#cor(training_data_numeric_features)

            PassengerId  Survived     Pclass      Age SibSp       Parch
PassengerId  1.000000000 -0.005006661 -0.03514399 NA  -0.05752683 -0.001652012
Survived    -0.005006661  1.000000000 -0.33848104 NA  -0.03532250  0.081629407
Pclass      -0.035143994 -0.338481036  1.00000000 NA   0.08308136  0.018442671
Age                   NA           NA          NA  1           NA           NA
SibSp       -0.057526834 -0.035322499  0.08308136 NA   1.00000000  0.414837699
Parch       -0.001652012  0.081629407  0.01844267 NA   0.41483770  1.000000000
Fare         0.012658219  0.257306522 -0.54949962 NA   0.15965104  0.216224945
            Fare
PassengerId  0.01265822
Survived     0.25730652
Pclass      -0.54949962
Age                  NA
SibSp        0.15965104
Parch        0.21622494
Fare         1.00000000

In [11]:
#no_survivors <- rep(0, length(training_data$Survived))
#accuracy(training_data$Survived, no_survivors)

[1] 0.6161616

In [12]:
#women_survived <- training_data$Sex == 'female'
#accuracy(training_data$Survived, women_survived)

[1] 0.7867565

In [13]:
#women_and_children_survived <- women_survived
#women_and_children_survived[training_data$Age < 10] <- 1

In [14]:
#accuracy(training_data$Survived, women_and_children_survived)

[1] 0.7934905

In [15]:
#prop.table(table(training_data$Pclass, training_data$Survived), 1)

            0         1
  1 0.3703704 0.6296296
  2 0.5271739 0.4728261
  3 0.7576375 0.2423625

In [8]:
#prop.table(table(training_data$SibSp, training_data$Survived), 1)

              0           1
  0 0.453015428 0.245441795
  1 0.103786816 0.126227209
  2 0.019635344 0.009817672
  3 0.009817672 0.001402525
  4 0.014025245 0.002805049
  5 0.005610098 0.000000000
  8 0.008415147 0.000000000

In [18]:
#women_and_children_survived_with_less_than_3SibSp <- women_and_children_survived
#women_and_children_survived[training_data$SibSp > 3] <- 0

In [19]:
#accuracy (training_data$Survived, women_and_children_survived_with_less_than_3SibSp)

[1] 0.7934905

In [10]:
#women_survived <- validation_data$Sex == 'female'
#accuracy(validation_data$Survived, women_survived)

[1] 0.8089888

In [14]:
#women_and_children_survived <- women_survived
#women_and_children_survived[validation_data$Age < 10] <- 1
#accuracy(validation_data$Survived, women_and_children_survived)

[1] 0.7977528

In [15]:
#women_and_children_survived_with_less_than_3SibSp <- women_and_children_survived
#women_and_children_survived[validation_data$SibSp > 3] <- 0
#accuracy(validation_data$Survived, women_and_children_survived_with_less_than_3SibSp)

[1] 0.7977528

In [20]:
women_and_children_survived_with_less_than_3SibSp <- rep(0, length(titanic$Survived))
    women_and_children_survived_with_less_than_3SibSp[titanic$Sex == 'female'] <- 1
    women_and_children_survived_with_less_than_3SibSp[titanic$Age < 10] <- 1
    women_and_children_survived_with_less_than_3SibSp[titanic$SibSp > 3] <- 0

In [21]:
accuracy(titanic$Survived, women_and_children_survived_with_less_than_3SibSp)

[1] 0.8989899

In [5]:
length(titanic$Survived)

[1] 891

In [8]:
length(women_and_children_survived_with_less_than_3SibSp)

[1] 414